.heading {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #626778;
}
.Field {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #515669;
  line-height: 19px;
}
.FieldTextArea {
  width: 100%;
  padding: 2px 2px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  resize: none;
  color: #515669;
  color: #515669;
  line-height: 19px;
}
.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
}

.userDiv {
  display: flex;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
.btnAgent {
  background-color: #433eed;
  color: white;
  padding: 20px;
  font-size: 15px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.checkbox {
  background: #ffffff;
  border: 2px solid #4770ff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 22px;
  height: 22px;
}
.checkboxDiv {
  align-self: flex-start;
  display: flex;
  color: #515669;
  align-items: center;
}
.checkbox-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #515669;
  margin-left: 8px;
}
.description-last {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: 0.02em;
  box-sizing: border-box;

  color: rgba(81, 86, 105, 0.8);
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto;
}
::placeholder {
  font-family: Roboto;
}
.crossDiv {
  position: absolute;
  top: 15px;
  right: 15px;
}
