$background-primary: #433EED;
$background-secondary: #E76766;
$background-tertiary: #47DCEF;

$font-color-primary: #515669;
$font-color-secondary: #9DA1AD;
$font-color-tertiary: #B7B7B7;

$shifted-box-shadow: 0px 4px 16px rgba(195, 201, 227, 0.48);