.payment-estimation {
  width: 100%;
  height: 180px;
  transition: height 200ms;
  box-shadow: 0px 4px 16px rgba(195, 201, 227, 0.48);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 60px;

  h5 {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #b7b7b7;
  }

  h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.02em;
    color: #22243d;
    span {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #979aa6;
    }
  }

  .marginTop5 {
    margin-top: 4%;
  }

  .see-details {
    width: 140px;
    height: 44px;
    position: absolute;
    bottom: -22px;
    left: "50%";
    border: none;
    box-shadow: 10px 10px 8px rgba(46, 98, 224, 0.1);
    border-radius: 10px;
    background: #433eed;
    color: rgba(255, 255, 255, 0.88);
    outline: none;
  }
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.payment-estimation--extend {
  height: 500px;

  //CSS

  body {
    color: #d6eaff;
    background: #202125;
    padding: 10px 50px 50px;
  }

  a {
    color: #0ebeff;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: 100;
  }
}
.font-size-24 {
  font-size: 44px;
}

.text-light-grey {
  color: #b7b7b7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 325px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  span {
    font-size: 14px;
    span {
      position: absolute;
      font-size: 16px;
      font-weight: 500;
      color: black;
      margin-top: 5px;
    }
  }
}
.hr {
  height: 1px;
  border-width: 0;
  color: rgba(128, 128, 128, 0.425);
  background-color: rgba(211, 211, 211, 0.295);
  width: 325px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  width: 280px;
  padding: 5px;
  span {
    font-size: smaller;
    font-size: 12px;
  }
  #amortization {
    margin-bottom: 5px;
  }
}
.property-tax {
  margin-bottom: 15px;
}
.light-gray {
  color: #979aa6;
}

.donut-container {
  background: white;
  box-shadow: -2px -2px 34px -17px rgba(0, 0, 0, 0.75) !important;
  border-radius: 50%;
  padding: 19px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -ms-transform: rotate(0deg) !important; /* IE 9 */
  transform: rotate(0deg) !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-position {
  position: absolute;
  top: 40px;
  font-size: 10px;
  color: #b7b7b7;
}
.text-percent {
  position: absolute;
  bottom: 33px;
  font-size: 10px;
  color: #e64732;
}
.donut-layer {
  position: absolute;
  margin: 4px 30px 0px 30px;
}

[data-donutty] {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .payment-estimation {
    justify-content: center;
  }
}

a {
  color: #0ebeff;
}

h1 {
  margin-bottom: 30px;
  font-weight: 100;
}

.donut-container {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 116px;
  height: 116px;
  display: flex;
  margin-top: 1%;
  align-items: center;
  justify-content: center;
  position: relative;
  -ms-transform: rotate(-180deg); /* IE 9 */
  transform: rotate(-180deg);
}

.donut-layer {
  position: absolute;
  margin: 4px 30px 0px 30px;
}

[data-donutty] {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}
