@import "../styles/variables.scss";

.lender-rates-container {
  padding: 4%;
  font-family: "Roboto";
  font-weight: 100 lighter;
}

.header-4 {
  color: #b7b7b7;
  display: block;
  width: 220px;
  padding: 5%;
  font-size: 15px;
  font-weight: 100;
}

.toggle-buttons {
  position: relative;
  right: -72%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f17270;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: solid #f17270 1px;
}

.lenders {
  padding: 3%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.mortgage-company {
  position: relative;
}

.company-logo {
  //   height: 4rem;
  //   width: 6rem;
  height: 55px;
  width: 83px;
  z-index: 1;
  border-radius: 8%;
  box-shadow: $shifted-box-shadow;
}

.honcho-profile {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: -8%;
  right: 25%;
  z-index: 3;
}

.nmls {
  font-size: 6px;
  position: absolute;
  text-align: center;
  bottom: 18%;
  left: 6%;
}

.company-rate-container {
  display: flex;
  justify-content: space-between;
}

.company-rate {
  color: #b7b7b7;
  font-size: 8px;
  text-align: center;
}

.rate-num {
  color: black;
  font-size: 10px;
  font-weight: 500;
}

.payment {
  color: black;
  font-size: 10px;
  font-weight: 500;
}

.rate-lock {
  color: black;
  font-size: 8px;
}

.rate-payment {
  color: #b7b7b7;
  font-size: 8px;
  text-align: center;
}

.rate-button {
  background-color: $background-primary;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 0.2em;
  padding: 8px 8px;
  box-shadow: $shifted-box-shadow;
  height: 25px;
  width: 75px;
}

hr {
  background-color: #e7e9f3;
  width: 100%;
  align-items: center;
  height: 0.1vh;
  border: none;
}

.or {
  color: #b7b7b7;
  text-align: center;
  padding: 5%;
}

.competing-button-container {
  text-align: center;
}

.competing-button {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #4770ff;
  color: #4770ff;
  outline: none;
  height: 50px;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
}
