@import "../styles/variables.scss";

.lender-rates-container {
  padding: 5%;
}

.header-4 {
  color: #b7b7b7;
  display: block;
  width: 220px;
  padding: 5%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 12px;
  width: 36px;
  bottom: 0;
  background-color: #e64732;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -2px;
  bottom: -2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border: solid #ccc 1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  border: solid #e64732 1px;
}

.lenders {
  padding: 2%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.mortgage-company {
  position: relative;
}

.company-logo {
  height: 4rem;
  width: 6rem;
  z-index: 1;
  border-radius: 8%;
  box-shadow: $shifted-box-shadow;
}

.honcho-profile {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3%;
  right: 12%;
  z-index: 3;
}

.nmls {
  font-size: 0.5vh;
  position: absolute;
  text-align: center;
  bottom: 8%;
  left: 8%;
}

.company-rate {
  color: #b7b7b7;
  font-size: 2vw;
  text-align: center;
}

.rate-num {
  color: black;
}

.rate-lock {
  color: black;
}

.rate-payment {
  color: #b7b7b7;
  font-size: 2vw;
  text-align: center;
}

.payment {
  color: black;
}

.rate-button {
  background-color: $background-primary;
  border-radius: 8%;
  border: none;
  color: white;
  font-size: 2vw;
  padding: 10px 10px 10px 10px;
  box-shadow: $shifted-box-shadow;
}

hr {
  background-color: #e7e9f3;
  width: 100%;
  align-items: center;
  height: 0.1vh;
  border: none;
}

.or {
  color: #b7b7b7;
  text-align: center;
  padding: 5%;
}

.competing-button {
  background-color: #ffffff;
  border-radius: 8%;
  border-color: $background-primary;
  color: $background-primary;
  padding: 8px 8px 8px 8px;
  font-size: 0.875em;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .lender-rates-container {
    background-color: blue;
  }
}

@media only screen and (min-width: 768px) {
  .lender-rates-container {
    background-color: red;
  }
}

@media only screen and (min-width: 992px) {
  .lender-rates-container {
    background-color: yellow;
  }
}

@media only screen and (min-width: 1200px) {
  .lender-rates-container {
    background-color: green;
  }
}
